<div class="container mt-5 text-center">
    <h1>Welcome to Store Management</h1>
    <p>Navigate to manage your stores and products.</p>
    <div class="mt-4">
        <a href="/Home/AddStore" class="btn btn-primary btn-lg">Go to Add Store</a>
        <a href="/Home/AddProduct" class="btn btn-secondary btn-lg">Go to Add Product</a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
